@{
    ViewData["Title"] = "Raporlar";
}

<h2>Raporlar</h2>

<div class="card mt-4">
    <div class="card-header bg-primary text-white">
        Menüdeki Aktif Yemek Sayısı
    </div>
    <div class="card-body">
        <h4 class="card-title">@ViewBag.MenuProductCount adet İçecek menüde mevcut.</h4>
    </div>
</div>