<aside class="manager-sidebar bg-dark text-white">
    <div class="p-3">
        <a class="navbar-brand text-white d-block mb-3"
           asp-area="Manager" asp-controller="Hr" asp-action="DashBoard">
            RMAPP
        </a>

        <ul class="nav flex-column sidebar-menu">
            @if (User.IsInRole("Insan Kaynaklari Muduru"))
            {
                <li class="nav-item">
                    <a class="nav-link text-white d-block"
                       asp-area="Manager" asp-controller="Hr" asp-action="PersonelList">
                        Personel Listesi
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white d-block"
                       asp-area="Manager" asp-controller="Hr" asp-action="CompleteProfileList">
                        Profil Tamamla
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white d-block"
                       asp-area="Manager" asp-controller="Hr" asp-action="RoleList">
                        Rol Yönetimi
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white d-block"
                       asp-area="Manager" asp-controller="Hr" asp-action="Reports">
                        Raporlar
                    </a>
                </li>
            }
            else if (User.IsInRole("Mutfak Sefi"))
            {
                <li class="nav-item">
                    <a class="nav-link text-white d-block"
                       asp-area="Manager" asp-controller="Kitchen" asp-action="RecipeList">
                        Reçeteler
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white d-block"
                       asp-area="Manager" asp-controller="Kitchen" asp-action="ActiveOrders">
                        Mevcut Siparişler
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white d-block"
                       asp-area="Manager" asp-controller="Kitchen" asp-action="MenuProducts">
                        Menü Yönetimi
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white d-block"
                       asp-area="Manager" asp-controller="Kitchen" asp-action="Reports">
                        Raporlar
                    </a>
                </li>
            }
            else if (User.IsInRole("Bar Sefi"))
            {
                <li class="nav-item">
                    <a class="nav-link text-white d-block"
                       asp-area="Manager" asp-controller="Bar" asp-action="RecipeList">
                        Reçeteler
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white d-block"
                       asp-area="Manager" asp-controller="Bar" asp-action="ActiveOrders">
                        Mevcut Siparişler
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white d-block"
                       asp-area="Manager" asp-controller="Bar" asp-action="MenuProducts">
                        Menü Yönetimi
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white d-block"
                       asp-area="Manager" asp-controller="Bar" asp-action="Reports">
                        Raporlar
                    </a>
                </li>
            }
            else if (User.IsInRole("Idari Personel"))
            {
                <li class="nav-item">
                    <a class="nav-link text-white d-block"
                       asp-area="Manager" asp-controller="Administrative" asp-action="PersonnelManagement">
                        Personel Yönetimi
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white d-block"
                       asp-area="Manager" asp-controller="Administrative" asp-action="ProductManagement">
                        Ürün Yönetimi
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white d-block"
                       asp-area="Manager" asp-controller="Administrative" asp-action="UnitManagement">
                        Birim Yönetimi
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white d-block"
                       asp-area="Manager" asp-controller="Administrative" asp-action="CategoryManagement">
                        Kategori Yönetimi
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white d-block"
                       asp-area="Manager" asp-controller="Administrative" asp-action="MenuManagement">
                        Menü Yönetimi
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white d-block"
                       asp-area="Manager" asp-controller="Administrative" asp-action="MenuProductManagement">
                        Menü Ürünleri Yönetimi
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white d-block"
                       asp-area="Manager" asp-controller="Administrative" asp-action="InvoiceManagement">
                        Fatura Yönetimi
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white d-block"
                       asp-area="Manager" asp-controller="Administrative" asp-action="StockManagement">
                        Stok Yönetimi
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white d-block"
                       asp-area="Manager" asp-controller="Administrative" asp-action="SupplierManagement">
                        Tedarikçi Yönetimi
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white d-block"
                       asp-area="Manager" asp-controller="Administrative" asp-action="TableManagement">
                        Masa Yönetimi
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white d-block"
                       asp-area="Manager" asp-controller="Administrative" asp-action="Reports">
                        Raporlar
                    </a>
                </li>
            }
            else if (User.IsInRole("Restaurant"))
            {
                <li class="nav-item">
                    <a class="nav-link text-white d-block"
                       asp-area="Manager" asp-controller="Restaurant" asp-action="DashBoard">
                        Restaurant Paneli
                    </a>
                </li>
            }
        </ul>
    </div>
</aside>