<aside class="bg-dark text-white" style="width:250px;min-height:100vh;">
    <div class="p-3">
        <a class="navbar-brand text-white d-block mb-3" asp-area="Manager" asp-controller="Hr" asp-action="DashBoard" title="RestaurantManagementAPP">RMAPP</a>

        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="Manager" asp-controller="Hr" asp-action="DashBoard">Personel Listesi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="Manager" asp-controller="Hr" asp-action="Edit">Bilgileri Güncelle</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="Manager" asp-controller="Hr" asp-action="CompleteProfile">Profil Tamamla</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="Manager" asp-controller="Tables" asp-action="Index">Masa Yönetimi</a>
            </li>
        </ul>
    </div>
</aside>