@{
    ViewData["Title"] = "Email Doğrulama";
}

<div class="container mt-5 text-center">
    <h2>✅ Hesabınız etkinleştirildi</h2>
    <p>Artık giriş yapabilirsiniz.</p>
    <a class="btn btn-primary" href="/LoginAndRegister/Login">Giriş Yap</a>
</div>